@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

 <img src="images/Photo__00916404822.png" alt="image" width="200" id="aboutImage"> 
<p>Guess what, I have flaws. What are they? Oh, I don’t know. I sing in the shower. Sometimes I spend too much time volunteering. 
    Occasionally I’ll hit somebody with my car. So sue me.</p>
